a2a-sdk==0.2.*
altair==5.5.*
cloudpickle==3.1.1
fastapi==0.115.12
Flask
google-adk[eval]
google-adk==1.3.0
google-cloud-aiplatform[adk,agent_engines]==1.97.0
google-cloud-aiplatform==1.97.0
google-cloud-bigquery
google-cloud-bigquery[pandas]
google-cloud-bigquery-storage
google-cloud-firestore==2.21.*
google-cloud-logging
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
google-genai==1.19.*
gunicorn
matplotlib
pandas
platformdirs
pillow
python-dotenv
pydantic==2.11.*
scikit-learn
sqlalchemy
streamlit
tabulate
uvicorn==0.34.3
vl-convert-python
yfinance
